extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register

  if (user)
    p You are currently logged in as #{user.username}
    a(href="/drones") Go to Drones
    br
    a(href="/logout") Logout
